.main-container
{
	width:375px;
	height:667px;
	border:1px solid white;
	background-color:blue;
}

.header
{
	text-align:center;
	margin-top:50px;
	font-family:'Oswald';
	font-size:50px;
	color:white;
}

.button
{
	width:700px;
	height:700px;
	position:absolute;
	top:100px;
	left:-150px;
}

.learn
{
	color:white;
	font-family:'Oswald';
	font-size:50px;
	text-shadow:black 1px 1px 1px;
	position:absolute;
	left:150px;
	bottom:205px;

}

a
{
	width:700px;
	height:700px;
}