body
{
	height:1500px;
}

.header
{
	width:650px;
	margin:auto;
	text-align:center;
	font-family:'Oswald';
	font-size:40px;
}

.blockone
{
	width:200px;
	height:200px;
	background-color:blue;
	margin:auto;
}

.blue
{
	position:absolute;
	top:260px;
	left:730px;
	font-family:'Oswald';
	font-size:40px;
	color:white;
}

.middler
{
	width:650px;
	margin:auto;
	text-align:center;
	font-family:'Oswald';
	font-size:40px;
}

.blocktwo
{
	width:200px;
	height:200px;
	background-color:purple;
	margin:auto;
}

.violet
{
	position:absolute;
	top:590px;
	left:720px;
	font-family:'Oswald';
	font-size:40px;
	color:white;
}



