body
{
	height:1500px;
}

.main-container
{
	width:375px;
	height:667px;
	border:1px solid black;
}
.header
{
	width:360px;
	padding:10px;
	margin:auto;
	text-align:center;
	font-family:'Oswald';
	font-size:20px;
}

.blockrow-one
{
	display:inline-block;
	padding:20px;
	margin-left:28px;
}

.yelloworange
{
	width:100px;
	height:100px;
	background-color:#ffae42;
	border:1px solid black;
}

.redorange
{
	width:100px;
	height:100px;
	background-color:#FF4500;
	border:1px solid black;
}

.blockrow-two
{
	display:inline-block;
	padding:20px;
	margin-left:28px;
}

.yellowgreen
{
	width:100px;
	height:100px;
	background-color:#ADFF2F;
	border:1px solid black;
}

.bluegreen
{
	width:100px;
	height:100px;
	background-color:#0D98BA;
	border:1px solid black
}

.blockrow-three
{
	display:inline-block;
	padding:20px;
	margin-left:28px;
}

.blueviolet
{
	width:100px;
	height:100px;
	background-color:#8A2BE2;
	border:1px solid black;
}

.redviolet
{
	width:100px;
	height:100px;
	background-color:#C71585;
	border:1px solid black;
}

.spacer
{
	width:100px;
	height:100px;
}