body
{
	height:1500px;
}

.main-container
{
	width:1515px;
}
.header
{
	width:650px;
	margin:auto;
	text-align:center;
	font-family:'Oswald';
	font-size:40px;
}

.blockrow-one
{
	display:inline-block;
}

.yelloworange
{
	width:200px;
	height:200px;
	background-color:#ffae42;
	margin-left:450px;
	border:1px solid black;
}

.redorange
{
	width:200px;
	height:200px;
	background-color:#FF4500;
	margin-left:200px;
	border:1px solid black;
}

.blockrow-two
{
	display:inline-block;
}

.yellowgreen
{
	width:200px;
	height:200px;
	background-color:#ADFF2F;
	margin-left:450px;
	border:1px solid black;
}

.bluegreen
{
	width:200px;
	height:200px;
	background-color:#0D98BA;
	margin-left:200px;
	border:1px solid black
}

.blockrow-three
{
	display:inline-block;
}

.blueviolet
{
	width:200px;
	height:200px;
	background-color:#8A2BE2;
	margin-left:450px;
	border:1px solid black;
}

.redviolet
{
	width:200px;
	height:200px;
	background-color:#C71585;
	margin-left:200px;
	border:1px solid black;
}

.spacer
{
	width:200px;
	height:200px;
}