body
{
	background-color:blue;
}

.header
{
	text-align:center;
	margin-top:50px;
	font-family:'Oswald';
	font-size:50px;
	color:white;
}

.button
{
	width:700px;
	height:700px;
	margin-left:400px;
}

.learn
{
	color:white;
	font-family:'Oswald';
	font-size:50px;
	position:absolute;
	left:705px;
	bottom:180px;

}